{% extends 'layout.html' %}
{% block body %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Anfitrion</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">
</head>

<body>


  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="container">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://img2.rtve.es/i/?w=1600&i=1485853197251.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www.ecestaticos.com/imagestatic/clipping/dc8/e6e/dc8e6eec619bf844be7aba69073dbe21.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www.ecestaticos.com/image/clipping/978478aa28f6084b69eddad59262efc8/tu-no-eres-un-viajero-eres-un-turista-acomplejado-o-lo-que-es-peor-aun-un-jeta.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <p style = "font-family:Brush Script MT;">
    <h1><strong><center>COMIENZA UNA NUEVA AVENTURA</center></strong></h1>
    </p>
  


  <section class="section">
    <div class="container">
      {% for cards in elements|batch(8) %}

        <div class="row">
          {% for column in cards %}
            {% if 'false' in column.reservada %}
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="column">
                  <div class="card" style="width: 19rem;">
                    
                      <div class="container">
                        <img src="{{ column.imgppal }}" class="card-img-top" alt="{{ column.imgppal }}">
                        <div class="card-body">
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item"><strong><em>CIUDAD:</em></strong> {{ column.ciudad }}</li>
                              <li class="list-group-item"><strong><em>RESEÑA:</em></strong>{{ column.reseña }}</li>
                              <li class="list-group-item"><strong><em>PAIS:</em></strong>{{ column.pais }}</li>
                              <li class="list-group-item"><strong><em>DIRECCION:</em></strong>{{ column.address }}</li>
                              <li class="list-group-item"><strong><em>NUMERO DE HABITACIONES:</em></strong>{{ column.rooms }}</li>
                              <li class="list-group-item"><strong><em>PRECIO:$</em></strong>{{ column.price }}</li>
                              <h6 text="aligncenter"><center><strong><em>UBICACIÓN:</em></strong> </center></h6>
                          </ul>
                              <iframe id="inlineFrameExample"
                              title="Inline Frame Example"
                              width="300"
                              height="200"
                              allowfullscreen
                              src="{{ column.ubicacion }}">
                              </iframe>
                            
                            
                              <center>
                                <a href={{ url_for("reservar", id=column._id)}} type="button" class="btn btn-danger">Reservar</a>
                              </center>
                        </div>   
                      </div>
                      
       
                      {% for category, message in get_flashed_messages(with_categories=True) %}
                        <script>
                          Swal.fire({
                            icon: 'success',
                            title: '{{message}}',
                            showConfirmButton: false,
                            timer: 1500
                              
                          })
                        </script>

                      {% endfor %}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </section>
</body>

</html>

{% endblock %}